nav.signup {
    margin-left: center;
    background-color: #80BCBD;
    display: flex;
    display: 0;
    height: 90px;
    max-width: auto;
    border-style: outset 0;
    border-width: 0px;
    border-color: rgba(54, 54, 54, 0.589); 
    color:rgb(0, 0, 0); 
    box-shadow: 1px 5px 5px 1px rgba(5, 2, 2, 5);    
}

.logo {
    height: 120px;
    width: 250px;
}

body {
    background-color: #DCF2F1;
    background-position-x: center;
    background-position-y: center;
}

a {
    text-decoration: none; 
    color:#000000; 
    font-weight: bold  ;
    padding: auto;
    padding-right: 1%;
}

.links {
    text-decoration: none;
    color: #000000; 
    font-weight: bold;
    padding: auto;
    padding-right: 1%;
}

div.container {
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 5% 5% 5% 5%;
    border-radius: 5%;
    width: 700px;
    height: 900px;
    margin: auto;

    .box {
        padding: 5% 5% 5% 5%;
        width: 700px;
        height: 670px;
        background-color: rgb(255, 255, 255);
        box-shadow: 2px 2px 2px 2px rgba(0.9, 0.9, 0.9, 0.9);
        border-radius: 15px;
    }

    .equal-button {
        width: 200px;
        height: 30px; 
        text-align: center;
        font-size: 16px;
        background-color: rgba(54, 54, 54, 0.589); 
        color: #0e0d0d; 
        border-radius: 15px;
        cursor: pointer;
        margin-left: 250px;
        box-shadow: 2px 2px 2px 2px rgba(5.9, 5.9, 5.9, 5.9);
    }
}

.form-control {
    border: 1px solid #ccc;
    max-width: 800px;
    margin: auto;
    -webkit-margin-start: auto;
    padding: 10px;
    border: 2px solid #ccc;  
    margin-inline-end: auto;
    padding-inline-start: auto;
    margin-inline-start: 50px;
}

.birthdate {
    max-width: 800px;
}


a:hover {
    color: rgb(255, 0, 0);
} 

nav.signup2 {
    margin-left: center;
    background-color: rgb(255, 255, 255); 
    display: flex;
    display: 0;
    height: 20px;
    max-width: auto;
    border-style: outset 0;
    border-width: 3px;
    border-color: rgba(54, 54, 54, 0.589); 
    color:rgb(0, 0, 0); 
    box-shadow: 1px 5px 5px 1px rgba(5, 2, 2, 5);     
}

