.body {
    background-color: rgba(94, 62, 84, 0.24);
    color: rgb(0, 0, 0);
    display: block;
    padding: auto;
}

#about-content {
    margin: 0.1% auto;
    text-align: center;
    padding-inline: 10px;    
}

.container {
    display: inline-block;
    padding: auto;
}
  
.box {
    width: 400px;
    height: 300px;
    background-color: rgba(94, 62, 84, 0.24);
    padding-inline: 30px;
    margin: 20px;
    border-radius: 0%;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 5.9);
}