.body {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    display: block;
    padding: auto;

}

#about-content {
    margin: 0.1% auto;
    text-align: center;
    padding-inline: 10px;    
}

.container1 {
    display: block;
    padding: auto;
    padding-left: 20%;
    padding-top: 5%;
}
  
.box1 {
    width: 750px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px 2px rgba(0.9, 0.9, 0.9, 0.9);
    border-radius: 15px;
}

.home {
    background-color: rgb(117, 64, 3);
    height: 120px;
}

.category {
    background-color: rgb(117, 64, 3);
    height: 120px;
}

.logo {
    height: 120px;
    width: 140px;
}

.home1 {
    display: flex;
    text-align: center;
}

.categories1 {
    display: flex;
    text-align: center;
}

.images {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.card {
    margin: 40px;
    box-shadow: 0 2px 2px 2px;
}

.button {
    display: flex;
    justify-content: center;
    padding-top: 5%; padding-bottom: 5%;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.equal-button {
    width: 200px;
    height: 30px; 
    text-align: center;
    font-size: 16px;
    background-color: rgb(94, 91, 255);
    color: #fff; 
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 5px; 
}


/* ul {
    list-style: none;
    margin: 0;
    padding: 0;
} */

/* li {
    display: inline; 
    margin-right: 20px; 
} */

a {
    text-decoration: none; 
    color: #000000; 
    font-weight: bold   ;
    padding: auto;
    padding-right: 0.5%;
}

nav {
    background-color: rgb(0, 0, 0);
    display: 0;
}

a:hover {
    color: #ff0000;
}
