nav.welcomepage {
    margin-left: center;
    background-color: rgba(139, 106, 32, 0.836);
    display: flex;
    display: 0;
    color: rgb(0, 0, 0); 
    height: 120px;
    max-width: auto;
    border-style: outset;
    border-width: 3px;
    border-color: rgba(139, 106, 32, 0.836);
    color:rgb(51, 35, 1); 
    box-shadow: 2px 2px 2px 2px rgba(9, 5.9, 5.9, 9);
    
    .logo {
        height: 120px;
        width: 250px;
    }
    
    
}


a {
    text-decoration: none; 
    color:rgb(51, 35, 1); 
    font-weight: bolder  ;
    padding: auto;
    padding-right: 0.5%;
}

li.link {
    text-decoration: none;
    color: #000000; 
    font-weight: bolder;
    padding: auto;
    padding-right: 0.5%;
}

.equal-button {
    width: 500px;
    height: 100px; 
    text-align: center;
    font-size: 30px;
    background-color: rgba(139, 106, 32, 0.836);
    color: #0e0d0d; 
    border-radius: 15px;
    cursor: pointer;
    margin: 40px; 
    box-shadow: 2px 2px 2px 2px rgba(5.9, 5.9, 5.9, 5.9);
    margin-left: 400px;
}

a:hover {
    color: #ffffff;
} 

nav.welcomepage2 {
    margin: center;
    background-color: rgba(139, 106, 32, 0.836);
    display: flex;
    display: 0;
    color: rgb(0, 0, 0); 
    height: 20px;
    max-width: auto;
    border-style: outset;
    border-width: 3px;
    border-color: rgba(139, 106, 32, 0.836);
    color:rgb(51, 35, 1); 
    box-shadow: 2px 2px 2px 2px rgba(9, 5.9, 5.9, 9);

}

