.welcome {
    margin-left: center;
    background-color: rgb(255, 255, 255); 
    display: flex;
    display: 0;
    height: 120px;
    max-width: auto;
    border-style: outset;
    border-width: 3px;
    border-color: rgba(54, 54, 54, 0.589); 
    color:rgb(0, 0, 0); 
    box-shadow: 1px 5px 5px 1px rgba(5, 2, 2, 5);     
}

.logo {
    height: 120px;
    width: 250px;
}

body {
    background-color: rgb(253, 253, 253);
    background-position-x: center;
    background-position-y: center;
}

a {
    text-decoration: none; 
    color:rgb(0, 0, 0); 
    font-weight: bold  ;
    padding: auto;
    padding-right: 1%;
}

.links {
    text-decoration: none;
    color: #000000; 
    font-weight: bold;
    padding: auto;
    padding-right: 1%;
}

p {
    text-align: center;
    padding-top: 30px;
    margin-right: 150px;
    margin-left: 150px;
    
}

.equal-button {
    width: 40%;
    height: 100px; 
    text-align: center;
    font-size: 30px;
    background-color: rgba(54, 54, 54, 0.589);
    color: rgb(0, 0, 0); 
    border-radius: 15px;
    cursor: pointer;
    margin: 40px; 
    box-shadow: 2px 2px 2px 2px rgba(5.9, 5.9, 5.9, 5.9);
    margin-left: 400px;
}

a:hover {
    color: #910000;
} 

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}

h1:hover {
    color: #ff0000;
}

nav.welcome2 {
    margin-left: center;
    background-color: rgb(255, 255, 255); 
    display: flex;
    display: 0;
    height: 20px;
    max-width: auto;
    border-style: outset;
    border-width: 3px;
    border-color: rgba(54, 54, 54, 0.589); 
    color:rgb(0, 0, 0); 
    box-shadow: 1px 5px 5px 1px rgba(5, 2, 2, 5);  
}

