nav.child {
    margin-left: center;
    background-color: rgba(2, 27, 168, 0.589); 
    display: flex;
    display: 0;
    height: 120px;
    max-width: auto;
    border-style: outset;
    border-width: 3px;
    border-color: rgba(2, 27, 168, 0.589); 
    color:rgb(255, 255, 255); 
    box-shadow: 5px 15px 5px 5px rgba(19, 5.9, 5.9, 19);     
}

.logo {
    height: 120px;
    width: 250px;
}

body {
    background-color: rgb(253, 253, 253);
    background-position-x: center;
    background-position-y: center;
}

a {
    text-decoration: none; 
    color:rgb(255, 255, 255); 
    font-weight: bold  ;
    padding: auto;
    padding-right: 1%;
}

.links {
    text-decoration: none;
    color: #000000; 
    font-weight: bold;
    padding: auto;
    padding-right: 1%;
}

.box {
    width: 600px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 5px rgba(0, 0, 0, 5);
    padding: 50px;
    padding-top: 0px;
    margin: auto;
    background-color: #fff;
    
    b {
        margin: auto;
        font-size: 100px;
        margin: right;
        color: #ff004c;
    }

    nav {
        background-color: rgba(2, 27, 168, 0.589); 
        border-style: outset;
        border-width: 0;
        border-color: rgb(0, 0, 0);
        box-shadow: 2px 2px 2px 2px rgba(9, 5.9, 5.9, 9);
    }

    h1 {
        font-size: 30px;
        margin: center;
    }

    p {
        font-size: 16px;
        margin: center;
        font-size: xx-large;
        font-weight: bold;
        color: rgb(0, 0, 0);
    }
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.equal-button {
    width: 250px;
    height: 30px; 
    text-align: center;
    font-size: 14px;
    background-color: rgba(2, 27, 168, 0.589); 
    color: #0e0d0d; 
    border-radius: 15px;
    cursor: pointer;
    margin: 5px; 
    box-shadow: 2px 2px 2px 2px rgba(5.9, 5.9, 5.9, 5.9);
}

a:hover {
    color: rgb(255, 0, 0);
} 

nav.child2 {
    margin-left: center;
    background-color: rgba(2, 27, 168, 0.589); 
    display: flex;
    display: 0;
    height: 20px;
    max-width: auto;
    border-style: outset;
    border-width: 3px;
    border-color: rgba(2, 27, 168, 0.589); 
    color:rgb(255, 255, 255); 
    box-shadow: 5px 15px 5px 5px rgba(19, 5.9, 5.9, 19);     
}