nav.index {
    margin-left: center;
    background-color: rgb(221, 245, 85);
    display: flex;
    display: 0;
    height: 90px;
    max-width: auto;
    border-style: outset 0;
    border-width: 0px;
    border-color: rgba(54, 54, 54, 0.589); 
    color:rgb(0, 0, 0); 
    box-shadow: 1px 5px 5px 1px rgba(5, 2, 2, 5);     
}

.logo {
    height: 90px;
    width: 250px;
}

h1 {
  font-size: 40px;
  padding-left: 20%;
  padding-top: auto;
  display: flex;
}

body {
    background-color: rgba(255, 255, 255, 0.678);
    background-position-x: center;
    background-position-y: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

a {
    text-decoration: none; 
    color: #000000; 
    font-weight: bold   ;
    padding: auto;
    padding-right: 1%;
}

.link {
    text-decoration: none; 
    color: #000000; 
    font-weight: bold   ;
    padding: auto;
    padding-right: 1%;
}

.box {
    border-radius: 40px;
    max-width: 850px;
    background-color: rgb(221, 245, 85);
    margin: auto;
    padding: 50px;
    border-style: outset;
    border-color: rgb(221, 245, 85); 
    text-align: justify;
    box-shadow: 20px 20px 2px #242414;
}

.select {
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
}

.grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 25%;
    gap: 50px;
    /* background-color: rgb(255, 255, 255);  */
    padding: 20px;
  }
  
.grid-container > div {
    background-color: #04AA6D;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    border-color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 2px 2px rgba(9, 9, 9, 9);
  }

a:hover {
    color: #ff0000;
  }

h2:hover {
    color: rgb(255, 0, 0);
}

nav.index2 {
    margin-left: center;
    background-color: rgb(221, 245, 85);
    display: flex;
    display: 0;
    height: 20px;
    max-width: auto;
    border-style: outset 0;
    border-width: 3px;
    border-color: rgba(54, 54, 54, 0.589); 
    color:rgb(0, 0, 0); 
    box-shadow: 1px 5px 5px 1px rgba(5, 2, 2, 5);     
}
