nav.index {
    margin-left: 0;
    background-color: rgb(0, 108, 122);
    display: flex;
    display: 0;
    color: rgb(0, 0, 0); 
    height: 120px;
    max-width: auto;
    border-style: outset;
    border-width: 3px;
    border-color: rgb(0, 108, 122);
    color: rgb(0, 0, 0); 
    box-shadow: 2px 2px 2px 2px rgba(9, 5.9, 5.9, 9);
}

.logo {
    height: 120px;
    width: 140px;
}

a {
    text-decoration: none; 
    color: #000000; 
    font-weight: bold   ;
    padding: auto;
    padding-right: 0.5%;
}

li.link {
    text-decoration: none; 
    color: #000000; 
    font-weight: bold   ;
    padding: auto;
    padding-right: 0.5%;
}

.box {
    border-radius: 40px;
    max-width: 850px;
    background-color: white;
    margin: auto;
    padding: 50px;
    border-style: outset;
    border-width: 15px;
    border-color: rgb(0, 108, 122);
    text-align: center;
    box-shadow: 2px 2px 2px 2px rgba(5.9, 5.9, 5.9, 5.9);
}

.equal-button {
    width: 200px;
    height: 30px; 
    text-align: center;
    font-size: 16px;
    background-color: rgba(255, 174, 0, 0.836);
    color: #0e0d0d; 
    border-radius: 15px;
    cursor: pointer;
    margin: 5px; 
    box-shadow: 2px 2px 2px 2px rgba(5.9, 5.9, 5.9, 5.9);
}

a:hover {
    color: #1900ff;
} 
