nav.quiz {
    margin-left: center;
    background-color: rgb(255, 255, 255); 
    display: flex;
    display: 0;
    height: 120px;
    max-width: auto;
    border-style: outset 0;
    border-width: 3px;
    border-color: rgba(54, 54, 54, 0.589); 
    color:rgb(0, 0, 0); 
    box-shadow: 1px 5px 5px 1px rgba(5, 2, 2, 5);      
}

.logo {
    height: 120px;
    width: 250px;
}

body {
    background: rgb(253, 253, 253);
    background-color: rgb(253, 253, 253);
    background-position-x: center;
    background-position-y: center;
    margin: 10;
    padding: 10;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.app {
    background: rgba(54, 54, 54, 0.322);
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    font-weight: 600px;
    color: #001e4d;
    font-size: 25px;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

/* .quiz {
    padding: 20px 0;
} */

.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%; 
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;  
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
    background: #0e0d0d;
    color: #ffffff;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer; 
    display: none; 
}

.correct{
    background: #9aeabc;
}

.incorrect{
    background: #ff9393;
}

a {
    text-decoration: none; 
    color:rgb(0, 0, 0); 
    font-weight: bold;
    padding: auto;
    padding-right: 1%;
}

.links {
    text-decoration: none;
    color: #000000; 
    font-weight: bold;
    padding: auto;
    padding-right: 1%;
}

.box {
    border-radius: 40px;
    max-width: 850px;
    background-color: white;
    margin: auto;
    padding: 50px;
    border-style: outset;
    border-width: 15px;
    border-color: rgba(54, 54, 54, 0.589);  
    text-align: justify;
    box-shadow: 2px 2px 2px 2px rgba(5.9, 5.9, 5.9, 5.9);
}


.equalbuttons {
    text-decoration: none;
    color: #72c407; 
    font-weight: bold;
    padding: auto;
    padding-right: 1%;
}

p {
    text-align: center;
    padding-top: 30px;
    margin-right: 150px;
    margin-left: 150px; 
}

a:hover {
    color: #ff0000;
} 

/* a:hover {
    color: rgb(255, 0, 0);
}  */

nav.quiz2 {
    margin-left: center;
    background-color: rgb(255, 255, 255); 
    display: flex;
    display: 0;
    height: 20px;
    max-width: auto;
    border-style: outset 0;
    border-width: 3px;
    border-color: rgba(54, 54, 54, 0.589); 
    color:rgb(0, 0, 0); 
    box-shadow: 1px 5px 5px 1px rgba(5, 2, 2, 5); 
}  

.equal-button {
    width: 500px;
    height: 100px; 
    text-align: center;
    font-size: 30px;
    background-color: rgba(54, 54, 54, 0.589); 
    color: #ffffff; 
    border-radius: 15px;
    cursor: pointer;
    margin: 40px; 
    box-shadow: 2px 2px 2px 2px rgba(5.9, 5.9, 5.9, 5.9);
    margin-left: 400px;
}

.links {
    text-decoration: none;
    color: #000000; 
    font-weight: bold;
    padding: auto;
    padding-right: 1%;
}

h3 {
    color: #000000;
    text-align: center;
}