nav.quiz {
    margin-left: center;
    background-color: rgba(2, 27, 168, 0.589); 
    display: flex;
    display: 0;
    height: 120px;
    max-width: auto;
    border-style: outset;
    border-width: 3px;
    border-color: rgba(2, 27, 168, 0.589); 
    color:rgb(255, 255, 255); 
    box-shadow: 5px 15px 5px 5px rgba(19, 5.9, 5.9, 19);       
}

.logo {
    height: 120px;
    width: 250px;
}

body {
    background-color: rgba(2, 27, 168, 0.151); 
    background-position-x: center;
    background-position-y: center;
}

/* * {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
} */

.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h2 {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 30px;
    border-bottom: 1px solid #333;
}

.quiz {
    padding: 20px 0;
}

.quiz h4 {
    padding: 25px;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
}

.btn {
    width: 100%; 
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    background-color: rgba(2, 27, 168, 0.589); 
    color: #0e0d0d; 
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin: 10px 0;
    transition: all 0.3s;
}

.btn:hover{
    background: #0e0d0d;
    color: #ffffff;
}

a {
    text-decoration: none; 
    color:rgb(255, 255, 255); 
    font-weight: bold  ;
    padding: auto;
    padding-right: 1%;
}

.links {
    text-decoration: none;
    color: #000000; 
    font-weight: bold;
    padding: auto;
    padding-right: 1%;
}

p {
    text-align: center;
    padding-top: 30px;
    margin-right: 150px;
    margin-left: 150px;
    
}

.equal-button {
    width: 500px;
    height: 100px; 
    text-align: center;
    font-size: 30px;
    background-color: rgba(2, 27, 168, 0.589); 
    color: #ffffff; 
    border-radius: 15px;
    cursor: pointer;
    margin: 40px; 
    box-shadow: 2px 2px 2px 2px rgba(5.9, 5.9, 5.9, 5.9);
    margin-left: 400px;
}

.correct{
    background: #9aeabc;
}

.incorrect{
    background: #ff9393;
}

a:hover {
    color: #000000;
} 

h1 {
    color: #ff0000;
    text-align: center;
}

a:hover {
    color: rgb(255, 0, 0);
} 

nav.quiz2 {
    margin-left: center;
    background-color: rgba(2, 27, 168, 0.589); 
    display: flex;
    display: 0;
    height: 20px;
    max-width: auto;
    border-style: outset;
    border-width: 3px;
    border-color: rgba(2, 27, 168, 0.589); 
    color:rgb(255, 255, 255); 
    box-shadow: 5px 15px 5px 5px rgba(19, 5.9, 5.9, 19);    
}



/* nav.quiz {
    margin-left: center;
    background-color: rgba(2, 27, 168, 0.589); 
    display: flex;
    display: 0;
    height: 120px;
    max-width: auto;
    border-style: outset;
    border-width: 3px;
    border-color: rgba(2, 27, 168, 0.589); 
    color:rgb(255, 255, 255); 
    box-shadow: 5px 15px 5px 5px rgba(19, 5.9, 5.9, 19);     
}

.logo {
    height: 120px;
    width: 250px;
}

body {
    background-color: rgb(253, 253, 253);
    background-position-x: center;
    background-position-y: center;
}

a {
    text-decoration: none; 
    color:rgb(255, 255, 255); 
    font-weight: bold  ;
    padding: auto;
    padding-right: 1%;
}

.links {
    text-decoration: none;
    color: #000000; 
    font-weight: bold;
    padding: auto;
    padding-right: 1%;
}

a:hover {
    color: rgb(255, 0, 0);
} 

nav.quiz2 {
    margin-left: center;
    background-color: rgba(2, 27, 168, 0.589); 
    display: flex;
    display: 0;
    height: 20px;
    max-width: auto;
    border-style: outset;
    border-width: 3px;
    border-color: rgba(2, 27, 168, 0.589); 
    color:rgb(255, 255, 255); 
    box-shadow: 5px 15px 5px 5px rgba(19, 5.9, 5.9, 19);    
} */
