.body {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    display: block;
    padding: auto;

}

/* .container1 {
    display: block;
    padding: auto;
    padding-left: 20%;
    padding-top: 5%;
}

.container2 {
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 5% 5% 5%;
    border-radius: 5%;
    width: 650px;
    height: 600px;
    margin: auto;
} */
  
/* .box1 {
    width: 750px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px 2px rgba(0.9, 0.9, 0.9, 0.9);
    border-radius: 15px;
}

.box2 {
    padding: 5% 5% 5% 5%;
    width: 650px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px 2px rgba(0.9, 0.9, 0.9, 0.9);
    border-radius: 15px;
}

.box3 {
    padding: 5% 5% 5% 5%;
    width: 850px;
    height: 1720px;
    background-color: rgba(255, 174, 0, 0.637);
    box-shadow: 2px 2px 2px 2px rgba(0.9, 0.9, 0.9, 0.9);
    border-radius: 15px;
} */

.categories {
    background-color: rgba(22, 22, 22, 0.801);
    height: 130px;
}

.categories1 {
    display: flex;
    text-align: center;
}

.logo {
    height: 120px;
    width: 140px;
}

.categories1 {
    display: flex;
    text-align: center;
}

.home {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.card {
    margin: 40px;
    box-shadow: 0 2px 2px 2px;
    margin-top: 60px; 
    margin-left: 50px; 
    font-size: larger;
}

.button {
    display: flex;
    justify-content: center;
    padding-top: 5%; padding-bottom: 5%;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.equal-button1 {
    width: 200px;
    height: 30px; 
    text-align: center;
    font-size: 16px;
    background-color: rgb(0, 108, 122);
    color: #fff; 
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 5px; 
}

.equal-button2 {
    width: 200px;
    height: 30px; 
    text-align: center;
    font-size: 16px;
    background-color: rgb(0, 108, 122);
    color: #fff; 
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 5px; 
}

.equal-button3 {
    width: 200px;
    height: 30px; 
    text-align: center;
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    color: #fff; 
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 5px; 
}

.equal-button4 {
    width: 200px;
    height: 30px; 
    text-align: center;
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    color: #fff; 
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 35%;
}

.equal-button5 {
    width: 200px;
    height: 30px; 
    text-align: center;
    font-size: 16px;
    background-color: rgb(0, 108, 122);
    color: #fff; 
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 5px; 
}

.equal-button6 {
    width: 200px;
    height: 30px; 
    text-align: center;
    font-size: 16px;
    background-color: rgb(0, 108, 122);
    color: #fff; 
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 5px; 
}

a {
    text-decoration: none; 
    color: #000000; 
    font-weight: bold   ;
    padding: auto;
    padding-right: 0.5%;
}

.link1 {
    text-decoration: none; 
    color: #000000; 
    font-weight: bold   ;
    padding: auto;
    padding-right: 0.5%;
    
}

nav {
    background-color: rgb(0, 0, 0);
    display: 0;
}

a:hover {
    color: #1900ff;
} 
