nav.reading_page {
    margin-left: center;
    background-color: #80BCBD;
    display: flex;
    display: 0;
    height: 90px;
    max-width: auto;
    border-style: outset 0;
    border-width: 0px;
    border-color: rgba(54, 54, 54, 0.589); 
    color:rgb(0, 0, 0); 
    box-shadow: 1px 5px 5px 1px rgba(5, 2, 2, 5);      
}

.logo {
    height: 90px;
    width: 250px;
}

h1 {
    font-size: 40px;
    padding-left: 25%;
    padding-top: auto;
    display: flex;
  }

  body {
    background-color: #DCF2F1;
    background-position-x: center;
    background-position-y: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0F1035;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #DCF2F1;
  }
  
  .active {
    background-color: #365486;
  }

a {
    text-decoration: none; 
    color: #ffffff; 
    font-weight: bold   ;
    padding: auto;
    padding-right: 1%;
}

.link {
    text-decoration: none; 
    color: #000000; 
    font-weight: bold   ;
    padding: auto;
    padding-right: 1%;
}

.box {
    border-radius: 40px;
    max-width: 850px;
    background-color: #80BCBD;
    margin: auto;
    padding: 50px;
    border-style: outset;
    border-color: #80BCBD;
    text-align: justify;
}

.select {
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
}

.grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 25% 25% 25%;
    gap: 25px;
    padding: 20px;
  }
  
.grid-container > div {
    background-color: #0F1035;
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    border-color: black;
    border-radius: 10px;
  }

strong {
    color: #000;
}

strong:hover {
    color: #ff0000;
}

b {
    color: black;
}


.links {
    text-decoration: none;
    color: #000000; 
    font-weight: bold;
    padding: auto;
    padding-right: 1%; 
}


.card {
    box-shadow: 0 2px 2px 2px;
    margin-top: 20px; 
    font-size: larger;
    max-width: 850px;
    margin: 60px auto;
    padding: 15px;
}

.button {
    display: flex;
    justify-content: center;
    padding-top: 5%; 
    padding-bottom: 5%;
    height: 150px;
    border-style: outset;
    border-width: 15px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.equal-button {
    width: 150px;
    height: 30px; 
    text-align: center;
    font-size: 16px;
    background-color: rgb(255, 255, 255); 
    color: #0e0d0d; 
    border-radius: 15px;
    cursor: pointer;
    margin: 5px; 
    box-shadow: 2px 2px 2px 2px rgba(5.9, 5.9, 5.9, 5.9);
}

a:hover {
    color: #ff0000;
}

nav.reading_page2 {
    margin-left: center;
    background-color: #0F1035;
    display: flex;
    display: 0;
    height: 20px;
    max-width: auto;
    border-style: outset 0;
    border-width: 3px;
    border-color: rgba(54, 54, 54, 0.589); 
    color:rgb(0, 0, 0); 
    box-shadow: 1px 5px 5px 1px rgba(5, 2, 2, 5);        
}