nav.adults {
    margin-left: 0;
    background-color: #968181a9;
    display: flex;
    display: 0;
    height: 120px;
    max-width: auto;
    border-style: outset;
    border-width: 3px;
    border-color: #968181a9;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    box-shadow: 2px 2px 2px 2px rgba(9, 5.9, 5.9, 9);

    
}

.logo {
    height: 120px;
    width: 250px;
}

body {
    background-color: #968181a9;
}

a {
    text-decoration: none; 
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: auto;
    padding-left: 1%;
}

.link {
    text-decoration: none; 
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: auto;
    padding-right: 1%;
}

/* .box {
    width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 5px rgba(0, 0, 0, 5);
    padding: 50px;
    padding-top: 0px;
    margin: auto;
    background-color: #fff;
    
    b {
        margin: auto;
        font-size: 100px;
        margin: right;
        color: rgb(0, 0, 0);
    }

    nav {
        background-color: rgba(137, 125, 150, 0.801);
        border-style: outset;
        border-width: 0;
        border-color: rgb(0, 0, 0);
        box-shadow: 2px 2px 2px 2px rgba(9, 5.9, 5.9, 9);
    }

    h1 {
        font-size: 20px;
        margin: center;
    }

    strong {
        font-size: 16px;
        margin: center;
        font-size: xx-large;
        font-weight: bold;
        color: rgb(0, 0, 0);
    }
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.equal-button {
    width: 150px;
    height: 30px; 
    text-align: center;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: #0e0d0d; 
    border-radius: 15px;
    cursor: pointer;
    margin: 5px; 
    box-shadow: 5px 2px 5px 5px rgba(5.9, 5.9, 5.9, 5.9);
} */

a:hover {
    color: rgb(255, 0, 0);
} 
