nav.teens {
    margin-left: center;
    background-color: #80BCBD;
    display: flex;
    display: 0;
    height: 90px;
    max-width: auto;
    border-style: outset 0;
    border-width: 0px;
    border-color: rgba(54, 54, 54, 0.589); 
    color:rgb(0, 0, 0); 
    box-shadow: 1px 5px 5px 1px rgba(5, 2, 2, 5);      
}

.logo {
    height: 90px;
    width: 250px;
}

body {
    background-color: #DCF2F1;
    background-position-x: center;
    background-position-y: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0F1035;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #DCF2F1;
  }
  
  .active {
    background-color: #365486;
  }

a {
    text-decoration: none; 
    color: #ffffff; 
    font-weight: bold   ;
    padding: auto;
    padding-right: 1%;
}

.link {
    text-decoration: none; 
    color: #000000; 
    font-weight: bold   ;
    padding: auto;
    padding-right: 1%;
}

.grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 25% 25%;
    gap: 25px;
    /* background-color: rgb(255, 255, 255);  */
    padding: 20px;
    cursor: pointer;
  }
  
.grid-container > div {
    background-color: #04AA6D;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    border-color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 2px 2px rgba(9, 9, 9, 9);
  }

.border h3 {
    text-align: center;
    background-color: #04AA6D;
}

.box {
    border-radius: 40px;
    max-width: 850px;
    background-color: rgb(221, 245, 85);
    margin: auto;
    padding: 50px;
    padding-top: 10px;
    border-style: outset;
    border-color: rgb(221, 245, 85); 
    text-align: justify;
    box-shadow: 20px 20px 2px #242414;
    
    b {
        margin: auto;
        text-align: left;
        font-size: 100px;
        margin: right;
        color: #ff004c;
    }

    nav {
        background-color: #04AA6D;
        border-style: outset;
        border-width: 0;
        border-color: rgb(0, 0, 0);
        box-shadow: 2px 2px 2px 2px rgba(9, 5.9, 5.9, 9);
    }

    h1 {
        font-size: 30px;
        margin: center;
        text-align: left;
    }

    p {
        font-size: 16px;
        margin: center;
        font-size: xx-large;
        font-weight: bold;
        color: rgb(0, 0, 0);
    }
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.equal-button {
    width: 200px;
    height: 30px; 
    font-weight: bolder;
    text-align: center;
    font-size: 16px;
    background-color: rgba(54, 54, 54, 0.589); 
    color: #000000; 
    cursor: pointer;
    margin: 5px; 
    box-shadow: 2px 2px 2px 2px rgba(5.9, 5.9, 5.9, 5.9);
}

a:hover {
    color: rgb(255, 0, 0);
} 

.equal-button:hover {
    color: rgb(255, 0, 0);
}

nav.teen2 {
    margin-left: center;
    background-color: rgb(221, 245, 85);
    display: flex;
    display: 0;
    height: 20px;
    max-width: auto;
    border-style: outset 0;
    border-width: 3px;
    border-color: rgba(54, 54, 54, 0.589); 
    color:rgb(0, 0, 0); 
    box-shadow: 1px 5px 5px 1px rgba(5, 2, 2, 5);     
}